body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

nav {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image1 {
    max-width: 100px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero--image {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.hero--title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 3rem; /* Increased font size */
    color: #333; /* Adjusted text color */
}

.hero--data {
    margin-top: 10px;
    font-size: 1.5rem; /* Increased font size */
    color: #666; /* Adjusted text color */
}

.card {
    width: 250px; /* Adjusted card width */
    font-size: 1.2rem; /* Increased font size */
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 15px; /* Rounded corners for the card */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out; /* Smooth card hover effect */
}

.card:hover {
    transform: scale(1.05); /* Scale up the card on hover */
}

.bold {
    font-weight: 700;
}
.card--title::-webkit-scrollbar {
    width: 0;
}
.card--title {
    overflow-x: scroll;
   
    white-space: nowrap;
    margin-bottom: 10px;
    color: #333; /* Adjusted text color */
}

.card--img {
    height: 200px; /* Adjusted image height */
    width: 100%;
    border-radius: 15px 15px 0 0; /* Rounded top corners for the image */
    margin-bottom: 10px;
    object-fit: cover;
}

.card--stats {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.star--img {
    height: 20px; /* Increased star image height */
    margin-right: 5px;
}

.card-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #333; /* Adjusted text color */
}

@media screen and (max-width: 500px) {
    .cards--list {
        flex-direction: column; /* Change to column layout on small screens */
    }

    .single--card {
        margin-right: 0;
        margin-bottom: 20px; /* Add margin at the bottom for spacing between cards */
    }
}


.cards--list{
    display: flex;
    flex-wrap: wrap;
}